* text=auto eol=lf

# نادیده گرفتن تمام فایل‌های CSS و SCSS (صرف‌نظر از مسیر)
*.css linguist-vendored
*.scss linguist-scss linguist-vendored

# فایل‌های JS بیلد شده را نادیده بگیر
public/*.js linguist-vendored

# وابستگی‌ها
vendor/** linguist-vendored
node_modules/** linguist-vendored
storage/** linguist-vendored
bootstrap/cache/** linguist-vendored

# تنظیمات نمایش
*.blade.php linguist-language=PHP
